/*
    Theme Name:   Enfold - A.R.T CONSULTING
    Template:     enfold
*/

@import url("../enfold/style.css");
/* =Theme customization starts here
-------------------------------------------- */



/* #Media Queries
================================================== */
	/* fix bug Enfold template */
	.pagination .pagination-meta{display: none;}
	#comments span.required{display: inline;}
	.comment_text i,.comment_text cite,.comment_text em{font-style: italic;}
	.responsive #scroll-top-link{display: block;}
	#commentform label{left:0;position: relative;padding-bottom:5px;}
    .boxed#top{position: relative;}
    html.html_boxed{background-color: #56C1C7;}
    #wrap_all{padding: 10px;
        background: #006765;
        margin: 10px 0;
        border-radius: 10px;}
    #main .content{padding-top:20px;}
    #main .main_color, #main .footer_color{background: #006765;color:#fff;border:0 none;}
    #header .main_menu .menu a{background: url("img/bg_menu.jpg") repeat-x;border:0 none; height:26px; line-height: 26px;color:#000; padding: 0 14.5px;}
    #header .main_menu .menu a:hover{color:#666;}
    #header .main_menu .menu li{margin-left: 6px;}
    #header_main .logo{margin-left:-10px;}
    #header .main_menu .menu li:first-child{margin-left: 0;}
    #header_main{background: url("img/slogan.jpg") no-repeat  282px top;}
    #header .avia-menu-fx{bottom: inherit; top:0;}
    #menu-item-search{display: none;}
    body .custom_box .column-top-margin{margin-top: 10px;}
    #footer.footer_color{padding: 0;background: url("img/bg_copy.jpg");}
    #footer .widget{margin:10px 0;}
    .container{padding: 0 20px;}
    body{font-size:14px;}
    .cover_bg {
        background: url("img/bg_img.png") no-repeat top right;
        width: 244px;
        height: 186px;
        background-size: 244px 186px;
        padding: 10px;
        left: -20px;
    }
    .style1 h3{color:#fff;float: none !important;font-weight: normal;}
    .style1 .special-heading-border{top:-10px;}
    .main_color .style1 .special-heading-inner-border {
        border-color: #008560;
        border: 1px solid;
        margin: 0;
    }
.main_color .style1 .special-heading-border:after{    content: "";
    height: 4px;
    width: 215px;
    background: #008560;
    display: block;
    top: 13px;
    position: relative;}

    #header #header_main,#header .container_wrap{border: 0 none;}

.style1.main_color .av-masonry-pagination, .style1.main_color .av-masonry{
    background: none;
}
#top .fullsize .template-blog .post-title{text-align: left;color: #00ffff;font-size:22px;}
#top .fullsize .template-blog .post .entry-content-wrapper > *{max-width: 100%;}
.style1 .slide-content .slide-meta{display: none;}
#main .style1 .slide-entry a{background: none;}
#main .style1 h3.slide-entry-title{color: #00ffff;}
.style1 table,.style1 tr, .style1 td {background:none !important;border:0 none !important;color:#fff;padding:2px;}
.white-popup,.mgf-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
    overflow: auto;
    border-radius: 5px;
}
.white-popup > div{border:0 none;width: 50%; height: 100%;float: left;}
.v_list .item {
    width: 30%;
    margin-right: 3.3%;
    float: left;
}
.style1.line2.title .av-special-heading-tag{font-size:13px !important; color:#56c1c9 !important; min-height:35px !important;}
.style1.line1.title .av-special-heading-tag{font-size:13px !important; color:#56c1c9 !important; min-height:15px !important;}
.style1.title .special-heading-border{display: none;}
.staff.style1{width:500px;margin:0 auto;}
.staff div .slide-entry {width: 180px;}
.staff .slide-image{display: block; width: 180px;height: 225px; overflow: hidden;}
.staff div .slide-entry img{width: 100%;}
.staff .slide-parity-odd{float:left;}
.staff .slide-parity-even{float:right;}
.image-overlay{display: none !important;}
.services .avia-image-container-inner, .services .avia-image-container-inner img{width:100%;}
.services .avia-image-container-inner{height:240px; overflow: hidden;position: relative; display: block !important;}
.avia-blank #wrap_all, .avia-blank #wrap_all .main_color{border: 0 none !important; border-radius:0; }
.intro{position: relative;}
.intro #btn-home{position: absolute; right: 0;bottom: 0;width:130px;height:70px;display:block;}
.staff-img{ width: 180px;height: auto; float: left;margin-right:15px;}
.staff-img img{width: 100%;height: auto;padding:0; margin: 0;}
.training-box .av_one_half.el_after_av_one_half{margin-left:10px;width:40%;}
.training-box .av_one_half.el_before_av_one_half{margin-left:80px;width:40%;}
.custom_box .content{padding: 0 !important;}
.mgf-popup.avia-section{float: none;}
table.black{color:#333;}
.main_color table.black caption, .main_color table.black tr:nth-child(even), .main_color table.black .pricing-table>li:nth-child(even){
    color: #333;
    background: #ddd;
}

div.custom_box .av_one_third {
    margin-left: 2%;
    width: 31.333333%;
}

#top .slideshow1 .av_one_fourth:first-child{margin-left:0; width: 24.25%; }

#top .slideshow1 .av_one_fourth {
    width: 24.25%;
    margin-left: 1%;
    margin-top: 0;
}
.template-single-blog .big-preview.single-big,.post-meta-infos{display: none;}

.template-activity .entry-footer,.template-activity .post_delimiter{display: none;}
#footer{font-size: 13px;}
#top .avia-smallarrow-slider.slideshow1{top: -18px;}
.av-masonry-pagination{background-color: transparent !important;}
.pagination{text-align: center;}
#top .pagination .current, #top .pagination a, #top .fullsize .template-blog .pagination a{
    float: none;
    display: inline-block;
}
/* large screens with 1140px with */
	@media only screen and (min-width: 1140px)  {

	}


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 989px) {

	}


	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 989px) {

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
        #header_main{background: none;}
 	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {


	}
